<h1>Update Student</h1>

<%= form_for(@student) do |f| %>
   <label for="student_first_name">First Name: </label><br>
    <%= f.text_field :first_name %><br>

   <label for="student_last_name">Last Name: </label><br>
    <%= f.text_field :last_name %><br>

    <%= f.submit %>
<% end %>